@charset "UTF-8";



*{
  margin: 0;
  padding:0;

  box-sizing:border-box;
}

main{
  display: flex;
  flex-direction:column;
  align-items: center;
  gap: 32px;

  font-family: 'Roboto', sans-serif;

  width: 100vw;
  height: 100vh;
}

#imageOnTop{
  background-image: url(/imagens/img-top.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100vw;
  height: 30vh;
}

form{
  display: flex;
  flex-direction:column; 
  gap: 40px;

  margin: 20px;
}

#aboutTheProject{
  text-align: center;
  font-weight: 400;
}
#aboutTheProject > h1{
  color: #251F1F;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;

}

#divEmail{
  display: flex;
  flex-direction: column;
  gap: 22;

  color: black;
  font-weight: 700;

}

#divInputEmail{
  display: flex;
  flex-direction: column; 
  gap: 9px;

  margin-bottom: 22px;
}

#email{
  height: 58px;
}

#button{
  height: 58px;
  border: 1px solid #A0A0A0;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));

  background-color: #04588C;
  color: white;

  font-weight: 600;

  cursor: pointer;
}

.topicos{
  display: flex;
}